/* Center the quiz container */
.quiz-container {
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}


.question-container {
    padding: 2px;
    margin: 2px;
    width: 100%;
    max-width: 600px;
}


p.questionDisplay {
    text-align: center;
    margin: 10px
}


/* Style for options container */
.options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style for option buttons */
.option-button {
    display: inline-block;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.option-button.success {
    background: green;
    color: white;
}

.option-button.error {
    background: red;
    color: white;
}

.option-button.disabled {
    pointer-events: none;
}

.submit-button-container{
    display :flex;
    justify-content: center;
}

.submit-button{
    width:50%
}